.article {
	font-size: 14px;
	line-height: 21px;

	img, p, ul, ol, h2, h3, h4, h5, h6 {
		
		&:nth-child(n + 2) {
			margin-top: 1.5em;
		}
	}

	img {

	}

	p {

	}

	ul {
		list-style-type: disc;
		padding-left: 15px;

		> li {

		}
	}

	ol {
		padding-left: 15px;
		list-style-type: decimal;

		> li {

		}
	}

	blockquote {

	}

	h2, h3, h4, h5, h6 {
		font-weight: 700;
	}

	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 1em;
	}

	h6 {
		font-size: 0.8em;
	}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}
}