.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: rgba(0,0,0,0.7);
	z-index: 10;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;
	}

	&__box {
		color: #fff;
		position: relative;

		.form {
			margin-top: 0;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
		font-size: 22px;
		cursor: pointer;
		@include hover-opacity;
	}
}